body, html {
     background-image: url("/Project-1/assets/images/bg1.jpg");
     color: white;
     margin: 0px;
     padding: 0px;
     font-family: 'Jost', sans-serif;  
}
.left {
     position: absolute;
     left: 35px;
     top: 18px;
     display: inline-block;
}
.left img {
     width: 125px;
     filter: invert(100%);
}
.left div {
     text-align: center;
     font-size: 20px;
}
.mid {
     display: block;
     width: 35%;
     margin: 20px auto;
}
.right {
     position: absolute;
     right: 35px;
     top: 35px;
     display: inline-block;
}
.navbar {
     display: inline-block;

}
.navbar li {
     color: white;
     display: inline-block;
     font-size: 20px;
}
.navbar li a {
     color: white;
     text-decoration: none;
     padding: 34px 23px;
}
.navbar li a:hover,
.navbar li a:active {
     color: grey;
     text-decoration: underline;
}
.btn {
     margin: 0px 10px;
     color: white;
     background-color: black;
     padding: 0px 15px;
     font-family: 'Jost', sans-serif;
     border: 2px solid grey;
     border-radius: 10px;
     font-size: 20px;
     cursor: pointer;
}
.btn:hover {
     background-color: rgb(41, 39, 39);
}
.container{
     float: right;
     border: 2px solid white;
     width: 30%;
     margin: 100px 50px;
     padding: 50px 50px;
     border-radius: 5px;
}
.form-group input{
     font-size: 15px;
     margin: 10px auto;
     text-align: center;
     display: block;
     width: 350px;
     padding: 10px;
     border: 2px solid black;
     border-radius: 10px;
     font-family: 'Jost', sans-serif;
}
.container h1{
     text-align: center;
     font-size: 30px;
}
.container button{
     display: block;
     width: 65%;
     margin: 20px auto;
     font-size: 20px;
     padding: 10px; 
}
